.box {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;     /* 수직 가운데 정렬 */
  flex-direction: column; /* 요소를 수직으로 나열 */
  width: 500px;
  height: 500px;
  border: 5px solid black;
  margin: 10px;
}

.button-container {
  display: flex;
  flex-direction: row; /* 수평 정렬 */
  gap: 20px; /* 요소 간의 간격 */
  justify-content: center;
  align-items: center;     /* 수직 가운데 정렬 */
  margin: 10px;        /* 버튼 간의 동일한 간격 */
}

.item-img{
  width: 400px;
  height: 300px;
}

.main{
  display: flex;
  align-items: center;     /* 수직 가운데 정렬 */
  justify-content: center;
  background-color: skyblue;
}