.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.center-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navigation-bar {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    background-color: #800000;
    padding: 10px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3개의 동일한 열 */
    gap: 10px;
    /* 그리드 간 간격 */
}

.horizontal-layout {
    display: flex;
    justify-content: center;

    margin: 10px;
    padding: 10px;
    gap: 10px;
}

.my-masonry-grid {
    display: flex;
    /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px;
    /* gutter size */
    background-clip: padding-box;
    margin: 0 auto;
}

.masonry-item {
    margin-bottom: 30px;
    /* spacing between items */
    display: inline-block;
    /* 주로 아이템을 블록으로 취급 */
    transition: transform 0.5s ease;
    /* 변형에 대한 애니메이션 지정 */
}

.masonry-item:hover {
    transform: scale(1.2);
    /* 아이템 확대 */
}

@keyframes sparkle {

    0%,
    100% {
        opacity: 0.2;
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff8c00, 0 0 20px #ff8c00, 0 0 25px #ff8c00;
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffd700, 0 0 40px #ffd700, 0 0 50px #ffd700;
    }
}

.sparkle-text {
    font-size: 20px;
    font-weight: bold;
    color: 'yellow';
    animation: sparkle 2.0s infinite alternate;
}