.navigation-bar {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    background-color: #800000;
    padding: 10px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.menu-item {
    margin: 0 10px;
}

.toggle-box {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 700px) {
    .toggle-box.active {
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -24px;
        left: 0;
        width: 90px;
        height: 20%;
        background-color: #111;
        z-index: 99;
    }

    .menu-toggle {
        display: block;
    }
}